.background {
    -fx-background-image: url(../cafe.media/cafebg.png);
    -fx-background-size: 92% 82%;
    -fx-background-position: center -10px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffefd4;
}

.welcomeBackground {
    -fx-background-image: url(../cafe.media/welcomebg.png);
    -fx-background-size: 110% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffefd4;
}

.endBackground{
    -fx-background-image: url(../cafe.media/endbg.png);
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffefd4;
}

.endLabel{
    -fx-font-size: 24px;
    -fx-text-fill: #33443c;
    -fx-font-weight: 700;
}

.helpBackground1{
    -fx-background-image: url(../cafe.media/help2bg.png);
    -fx-background-size: 110% 100%;
    -fx-background-position: center -24px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffefd4;
}

.helpBackground2{
    -fx-background-image: url(../cafe.media/help1bg.png);
    -fx-background-size: 110% 100%;
    -fx-background-position: center -24px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffefd4;
}

.cookbookBackground{
    -fx-background-image: url(../cafe.media/cookbookbg.png);
    -fx-background-size: 110% 100%;
    -fx-background-position: center -24px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffefd4;

}

.welcomeBtn{
    -fx-background-color: #ffefd4;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-border-color: #33443c;
    -fx-text-fill: #33443c;
    -fx-font-weight: 700;
    -fx-background-radius: 25px;
    -fx-pref-width: 300;
    -fx-pref-height:40 ;
    -fx-font-size: 20px;
}

.welcomeBtn:hover{
    -fx-background-color: #dac6a4;
}

.orderBackground{
    -fx-background-color: #F3F6EB;
    -fx-background-image: url(../cafe.media/orderbg.png);
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.orderTitle{
    -fx-font-size: 22px;
    -fx-text-fill: #93a07d;
    -fx-font-weight: 700;
    -fx-font-family: "Trebuchet MS";
}

.itemLabel{
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 12px;
    -fx-text-fill: #93a07d;
    -fx-font-weight: 700;
}

.stackPane{
    -fx-background-image: url(../cafe.media/tray.png);
    -fx-background-size: 100% 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center 60px;
}

.statusPane{
    -fx-background-color: #e5dbc6;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #43724c;
}

.customerOrderText{
    -fx-text-fill: #43724c;
    -fx-font-weight: 700;
    -fx-font-family: "Trebuchet MS";
    -fx-text-alignment: center;
}

.menuBar{
    -fx-background-color: #ffefd4;
    -fx-pref-height: 50;
}

.menuBarLink{
    -fx-font-size: 12px;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill:#93a07d;
    -fx-font-weight: 700;
    -fx-padding: 2px 10px;
    -fx-graphic: Image("cafe.media/pause.png");
}

.menuBarLink.hover{
    -fx-background-color:#93a07d ;
}

.itemToggleBtn{
    -fx-background-color: #e5dbc6;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-border-color: #93a07d;
    -fx-text-fill: #93a07d;
    -fx-font-weight: 700;
    -fx-background-radius: 20px;
    -fx-font-size: 16px;
    -fx-font-family: "handwriting";
    -fx-pref-width: 100;
    -fx-pref-height:30 ;
}

.itemToggleBtn:focused{
    -fx-background-color: #7c8f5b;
    -fx-text-fill: #ffefd4;
}

.serveBtn{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #93a07d;
    -fx-text-fill: #ffefd4;
    -fx-pref-width: 160px;
}

.text{
    -fx-font-size: 12px;
    -fx-font-family: "Trebuchet MS";
    -fx-text-fill: #93a07d;
    -fx-font-weight: 700;
}

.orderPreview{
    -fx-background-image: url(../cafe.media/orderprevbg.png);
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 70px;
    -fx-pref-height: 90px;
    -fx-content-display: GRAPHIC_ONLY;
    -fx-end-margin: 5px;
    -fx-start-margin: 5px;
}

.orderPreview:focused{
    -fx-border-color: #f1a805;
    -fx-border-width: 2px;
}

.viewOrder{
    -fx-background-color: #93a07d;
    -fx-text-fill: #ffefd4;
    -fx-font-weight: 700;
    -fx-background-radius: 20px;
    -fx-font-size: 12px;
    -fx-font-family: "Trebuchet MS";
    -fx-pref-width: 100;
    -fx-pref-height:20 ;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-border-color: #ffefd4;
}

/*Button images*/
.milkBtn{
    -fx-background-image: url(../cafe.media/milk.png);
}

.espressoBtn{
    -fx-background-image: url(../cafe.media/espresso.png);
}

.caramelsyrupBtn{
    -fx-background-image: url(../cafe.media/caramelsyrup.png);
}

.chocsyrupBtn{
    -fx-background-image: url(../cafe.media/chocolatesyrup.png);
}

.croissantBtn{
    -fx-background-image: url(../cafe.media/croissant.png);
}

.cupsBtn {
    -fx-background-image: url(../cafe.media/cups.png);
}

.glassesBtn{
    -fx-background-image: url(../cafe.media/glasses.png);
}

.iceboxBtn{
    -fx-background-image: url(../cafe.media/icebox.png);
}

.matchapowderBtn{
    -fx-background-image: url(../cafe.media/matchapowder.png);
}

.strawberryshortcakeBtn{
    -fx-background-image: url(../cafe.media/strawberryshortcake.png);
}

.pistachiocakeBtn{
    -fx-background-image: url(../cafe.media/pistachiocake.png);
}

.tiramisuBtn{
    -fx-background-image: url(../cafe.media/tiramisu.png);
}

.whippedcreamBtn{
    -fx-background-image: url(../cafe.media/whippedcream.png);
}


.ingredientBtn{
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-cursor: pointer;
    -fx-content-display: GRAPHIC_ONLY;
}

.ingredientBtn:hover{
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}



